<h1><%= t("update_username") %></h1>
<%= form_with(model: @user, local: true, url: user_path(@user), method: :patch) do |f| %>
  <% flash.each do |key, value| %>
    <% if flash[:done]  %>
      <div class="flash <%= key %>" style="<%= "color: #3c763d;" %>"><%= value %></div>
    <% elsif flash[:error] %>
      <div class="flash <%= key %>" style="<%= "color: red;" %>"><%= value %></div>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :username, t("registration.username") %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :password, t("registration.password") %><br />
    <%= f.password_field :password, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit t("update") %>
  </div>
<% end %>