<p><%= t("welcome") %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("email_is_being_chenged_to") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("email_has_been_chenged_to") %> <%= @resource.email %>.</p>
<% end %>
